<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'admin', media: 'all',
    'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'admin/admin', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render "layouts/shim" %>
  </head>
  <body class="login-page">
    <div class="login-box">
      <div class="login-logo">
        <a href="../../index2.html"><b>Admin</b></a>
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">
          Sign in to start your session
          <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>">
            <%= message %>
          </div>
          <% end %>
        </p>
        <%= form_for(:session, url: admin_login_path) do |f| %>
        <div class="form-group has-feedback">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <%= f.label :remember_me, class: "checkbox" do %>
            <%= f.check_box :remember_me %>
            <span>Remember me</span>
            <% end %>
          </div>

          <div class="col-xs-4">
            <%= f.submit "Log in", class: "btn btn-primary" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    </div>

  </body>
</html>

