<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar -->
  <section class="sidebar">
    <!-- sidebar menu -->
    <ul class="sidebar-menu">
      <li class="header">
        MAIN NAVIGATION
      </li>
      <li class="<%= is_active?('/admin/dashboards') %>">
        <%= link_to '<i class="fa fa-dashboard"></i><span>Dashboard</span>'.html_safe, admin_path %>
      </li>
      <li class="<%= is_active?(admin_users_path) %>">
        <%= link_to '<i class="fa fa-user"></i><span>User</span><i class="fa fa-angle-left pull-right"></i>'.html_safe, admin_users_path %>
        <ul class="treeview-menu">
          <li>
            <%= link_to '<i class="fa fa-circle-o"></i> Manager'.html_safe, admin_users_path %>
          </li>
          <li>
            <%= link_to '<i class="fa fa-circle-o"></i> Add new'.html_safe, new_admin_user_path %>
          </li>
        </ul>
      </li>
      <li class="<%= is_active?(admin_categories_path) %>">
        <%= link_to '<i class="fa fa-folder"></i><span>Categories</span><i class="fa fa-angle-left pull-right"></i>'.html_safe, admin_categories_path %>
        <ul class="treeview-menu">
          <li>
            <%= link_to '<i class="fa fa-circle-o"></i> Manager'.html_safe, admin_categories_url %>
          </li>
          <li>
            <%= link_to '<i class="fa fa-circle-o"></i> Add new'.html_safe, new_admin_category_path %>
          </li>
        </ul>
      </li>
      <li class="<%= is_active?(admin_wordlists_path) %>">
        <%= link_to '<i class="fa fa-folder"></i><span>Word List</span><i class="fa fa-angle-left pull-right"></i>'.html_safe, admin_wordlists_path %>
        <ul class="treeview-menu">
          <li>
            <%= link_to '<i class="fa fa-circle-o"></i> Manager'.html_safe, admin_wordlists_path %>
          </li>
          <li>
            <%= link_to '<i class="fa fa-circle-o"></i> Add new'.html_safe, new_admin_wordlist_path %>
          </li>
        </ul>
      </li>

  </section>
  <!-- /.sidebar -->
</aside>