<% provide(:title, 'Edit category') %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">Edit user</h3>
      </div>
      <%= form_for [:admin, @user] do |f| %>
      <div class="box-body">
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :avatar %>
          <%= f.file_field :avatar %>
        </div>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation, "Confirmation" %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :activated, "Activated" %>
          <%= f.check_box :activated %>
        </div>
        <div class="form-group">
          <%= f.submit "Save", class: "btn btn-primary" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>